interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:15 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://testaccountforbatch.blob.core.windows.net/\" ContainerName=\"\
        aaatestcontainer\"><Blobs><Blob><Name>fileuploaderr.txt</Name><Properties><Last-Modified>Thu,\
        \ 30 Aug 2018 22:02:46 GMT</Last-Modified><Etag>0x8D60EC4516916CC</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>fileuploadout.txt</Name><Properties><Last-Modified>Thu,\
        \ 30 Aug 2018 22:02:46 GMT</Last-Modified><Etag>0x8D60EC4516B130B</Etag><Content-Length>405</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>G4StAhYLkahA1sDER+P9FQ==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><L[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:16 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:16 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:16 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:16 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:16 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/nodeagentskus?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.5\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.4\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\"\
        ,\"sku\":\"7.3\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.1\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\"\
        ,\"sku\":\"7.4\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\"\
        ,\"version\":\"latest\"\r\n        },{\r\n          \"publisher\":\"batch\"\
        ,\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\"\
        :\"centos-container\",\"sku\":\"7-5\",\"version\":\"latest\"\r\n        },{\r\
        \n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container-rdma\"\
        ,\"sku\":\"7-4\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\"\
        :\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian 8\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\"\
        ,\"sku\":\"8\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\":\"\
        linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian 9\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\"\
        ,\"sku\":\"9\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\":\"\
        linux\"\r\n    },{\r\n      \"id\":\"batch.node.ubuntu 14.04\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\"\
        ,\"sku\":\"14.04.5-LTS\",\"version\":\"latest\"\r\n        }\r\n      ],\"\
        osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.ubuntu 16.04\"\
        ,\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"\
        Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"\
        latest\"\r\n        },{\r\n          \"publisher\":\"microsoft-dsvm\",\"offer\"\
        :\"linux-data-science-vm-ubuntu\",\"sku\":\"linuxdsvmubuntu\",\"version\"\
        :\"latest\"\r\n        },{\r\n          \"publisher\":\"microsoft-azure-batch\"\
        ,\"offer\":\"ubuntu-server-container\",\"sku\":\"16-04-lts\",\"version\":\"\
        latest\"\r\n   [...]
- request:
    body: '{"id": "ncj-ubuntu1404", "vmSize": "STANDARD_D1_V2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "14.04.5-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 14.04"}, "targetDedicatedNodes":
      1}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 31 Aug 2018 16:31:17 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"PoolExists\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The specified pool already exists.\\nRequestId:0a6ae80b-7ad2-484d-9cd8-cb2c19e1a11f\\\
        nTime:2018-08-31T16:31:17.7535115Z\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: The specified pool already exists.}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:17 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D60E9AFA44B9BC\",\"lastModified\":\"2018-08-30T17:06:50.6064316Z\"\
        ,\"creationTime\":\"2018-08-30T17:06:50.6064316Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-08-30T17:06:50.6064316Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2018-08-30T17:08:56.0054463Z\"\
        ,\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"\
        virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\"\
        :\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"14.04.5-LTS\",\"version\"\
        :\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 14.04\"\r\n  }\r\
        \n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D60E9AFA44B9BC']
      Last-Modified: ['Thu, 30 Aug 2018 17:06:50 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:18 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-2487789449_1-20180830t170855z\"\
        ,\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2487789449_1-20180830t170855z\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2018-08-30T22:02:55.809723Z\",\"lastBootTime\":\"2018-08-30T17:09:11.451508Z\"\
        ,\"allocationTime\":\"2018-08-30T17:08:55.2748194Z\",\"ipAddress\":\"10.0.0.4\"\
        ,\"affinityId\":\"TVM:tvm-2487789449_1-20180830t170855z\",\"vmSize\":\"standard_d1_v2\"\
        ,\"totalTasksRun\":34,\"totalTasksSucceeded\":34,\"runningTasksCount\":0,\"\
        recentTasks\":[\r\n        {\r\n          \"taskUrl\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/myTask\"\
        ,\"jobId\":\"ncj-ubuntu1404-1\",\"taskId\":\"myTask\",\"taskState\":\"completed\"\
        ,\"executionInfo\":{\r\n            \"startTime\":\"2018-08-30T22:02:55.202347Z\"\
        ,\"endTime\":\"2018-08-30T22:02:55.779773Z\",\"exitCode\":0,\"result\":\"\
        Success\",\"retryCount\":0,\"requeueCount\":0\r\n          }\r\n        }\r\
        \n      ],\"isDedicated\":true,\"endpointConfiguration\":{\r\n        \"inboundEndpoints\"\
        :[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\"\
        ,\"publicIPAddress\":\"40.70.213.124\",\"publicFQDN\":\"dnsf372daf0-42f6-475a-9089-b6607f934ed7-azurebatch-cloudservice.westus.cloudapp.azure.com\"\
        ,\"frontendPort\":50000,\"backendPort\":22\r\n          }\r\n        ]\r\n\
        \      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2018-08-30T17:09:11.451508Z\"\
        ,\"version\":\"1.3.0.9\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/batchAccounts?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Batch/batchAccounts/test1","name":"test1","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"test1.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Storage/storageAccounts/testaccountforbatch","lastKeySync":"2018-08-27T21:09:28.1417679Z"},"poolAllocationMode":"batchservice"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Storage/storageAccounts/testaccountforbatch/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"abc==","permissions":"FULL"},{"keyName":"key2","value":"abc==","permissions":"FULL"}]}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:21 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:c6394d36-401e-006a-2e48-41eabd000000\n\
        Time:2018-08-31T16:31:21.7700449Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ContainerAlreadyExists]
      x-ms-version: ['2017-07-29']
    status: {code: 409, message: The specified container already exists.}
- request:
    body: '{"id": "ncj-ubuntu1404", "poolInfo": {"poolId": "ncj-ubuntu1404"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://test1.westus.batch.azure.com/jobs?api-version=2018-08-01.7.0&timeout=30
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/jobs/job-1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D60F5F3136E8DB']
      Last-Modified: ['Fri, 31 Aug 2018 16:31:24 GMT']
      Location: ['https://test1.westus.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"value": [{"id": "myTask", "commandLine": "/bin/bash -c \"echo test\"",
      "outputFiles": [{"filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "destination": {"container":
      {"containerUrl": "https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer"}},
      "uploadOptions": {"uploadCondition": "tasksuccess"}}], "constraints": {"retentionTime":
      "PT1H"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/addtaskcollection?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\"\
        ,\"eTag\":\"0x8D60F5F31C969CC\",\"lastModified\":\"2018-08-31T16:31:25.1097036Z\"\
        ,\"location\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:25 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D60F5F3136E8DB\",\"lastModified\":\"2018-08-31T16:31:24.1495771Z\"\
        ,\"creationTime\":\"2018-08-31T16:31:24.1285757Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-08-31T16:31:24.1495771Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"ncj-ubuntu1404\"\
        \r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2018-08-31T16:31:24.1495771Z\"\
        ,\"poolId\":\"ncj-ubuntu1404\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D60F5F3136E8DB']
      Last-Modified: ['Fri, 31 Aug 2018 16:31:24 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:25 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D60F5F31C969CC\",\"creationTime\":\"2018-08-31T16:31:25.1097036Z\"\
        ,\"lastModified\":\"2018-08-31T16:31:25.1097036Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-08-31T16:31:25.1097036Z\",\"commandLine\":\"\
        /bin/bash -c \\\"echo test\\\"\",\"outputFiles\":[\r\n        {\r\n      \
        \    \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\":{\r\n  \
        \          \"container\":{\r\n              \"containerUrl\":\"https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer\"\
        \r\n            }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\"\
        :\"TaskSuccess\"\r\n          }\r\n        }\r\n      ],\"userIdentity\":{\r\
        \n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n\
        \        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\"\
        :0\r\n      },\"executionInfo\":{\r\n        \"retryCount\":0,\"requeueCount\"\
        :0\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:29 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D60F5F31C969CC\",\"creationTime\":\"2018-08-31T16:31:25.1097036Z\"\
        ,\"lastModified\":\"2018-08-31T16:31:25.1097036Z\",\"state\":\"completed\"\
        ,\"stateTransitionTime\":\"2018-08-31T16:31:27.410342Z\",\"previousState\"\
        :\"running\",\"previousStateTransitionTime\":\"2018-08-31T16:31:26.711453Z\"\
        ,\"commandLine\":\"/bin/bash -c \\\"echo test\\\"\",\"outputFiles\":[\r\n\
        \        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\"\
        :{\r\n            \"container\":{\r\n              \"containerUrl\":\"https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer\"\
        \r\n            }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\"\
        :\"TaskSuccess\"\r\n          }\r\n        }\r\n      ],\"userIdentity\":{\r\
        \n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n\
        \        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\"\
        :0\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2018-08-31T16:31:26.711551Z\"\
        ,\"endTime\":\"2018-08-31T16:31:27.410342Z\",\"exitCode\":0,\"result\":\"\
        Success\",\"retryCount\":0,\"requeueCount\":0\r\n      },\"nodeInfo\":{\r\n\
        \        \"affinityId\":\"TVM:tvm-2487789449_1-20180830t170855z\",\"nodeUrl\"\
        :\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2487789449_1-20180830t170855z\"\
        ,\"poolId\":\"ncj-ubuntu1404\",\"nodeId\":\"tvm-2487789449_1-20180830t170855z\"\
        ,\"taskRootDirectory\":\"workitems/ncj-ubuntu1404/job-1/myTask\",\"taskRootDirectoryUrl\"\
        :\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2487789449_1-20180830t170855z/files/workitems/ncj-ubuntu1404/job-1/myTask\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:29 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D60F5F31C969CC\",\"creationTime[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:31 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2\"\
        ,\"eTag\":\"0x8D60EB487FFEF7F\",\"lastModified\[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:32 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2/nodes?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-2487789449_1-20180830t201134z\"\
        ,\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2/nodes/t[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:35 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2\"\
        ,\"eTag\":\"0x8D60F5F37A80792\",\"lastModified\":\"2018-08-31T16:31:34.9572498Z\"\
        ,\"creationTime\":\"2018-08-31T16:31:34.9382481Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2018-08-31T16:31:34.9572498Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"ncj-windows-2012-r2\"\
        \r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2018-08-31T16:31:34.9572498Z\"\
        ,\"poolId\":\"ncj-windows-2012-r2\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D60F5F37A80792']
      Last-Modified: ['Fri, 31 Aug 2018 16:31:34 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:36 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\"\
        ,\"eTag\":\"0x8D60F5F3829708C\",\"creationTime\":\"2018-08-31T16:31:35.8053516Z\"\
        ,\"lastModified\":\"2018-08-31T16:31:35.8053516Z\",\"state\":\"running\",\"\
        stateTransitionTime\":\"2018-08-31T16:31:33.166958Z\",\"previousState\":\"\
        active\",\"previousStateTransitionTime\":\"2018-08-31T16:31:35.8053516Z\"\
        ,\"commandLine\":\"cmd /c echo | set /p dummy=test\",\"outputFiles\":[\r\n\
        \        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\"\
        :{\r\n            \"container\":{\r\n              \"containerUrl\":\"https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer\"\
        \r\n            }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\"\
        :\"TaskSuccess\"\r\n          }\r\n        }\r\n      ],\"userIdentity\":{\r\
        \n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n\
        \        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\"\
        :0\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2018-08-31T16:31:33.166958Z\"\
        ,\"retryCount\":0,\"requeueCount\":0\r\n      },\"nodeInfo\":{\r\n       \
        \ \"affinityId\":\"TVM:tvm-2487789449_1-20180830t201134z\",\"nodeUrl\":\"\
        https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2/nodes/tvm-2487789449_1-20180830t201134z\"\
        ,\"poolId\":\"ncj-windows-2012-r2\",\"nodeId\":\"tvm-2487789449_1-20180830t201134z\"\
        ,\"taskRootDirectory\":\"workitems\\\\ncj-windows-2012-r2\\\\job-1\\\\myTask\"\
        ,\"taskRootDirectoryUrl\":\"https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2/nodes/tvm-2487789449_1-20180830t201134z/files/workitems/ncj-windows-2012-r2/job-1/myTask\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 31 Aug 2018 16:31:40 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\"\
        ,\"eTag\":\"0x8D60F5F3829708C\",\"cr[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:40 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://testaccountforbatch.blob.core.windows.net/\" ContainerName=\"\
        fgrp-output\"><Blobs><Blob><Name>fileuploaderr.txt</[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:41 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:41 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:41 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:41 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 31 Aug 2018 16:31:44 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:2cd0bd14-d01e-002b-2f48-41c2ae000000\n\
        Time:2018-08-31T16:31:44.6550148Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ContainerAlreadyExists]
      x-ms-version: ['2017-07-29']
[...]
