interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:30:51 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://testaccountforbatch.blob.core.windows.net/\"\
        \ ContainerName=\"aaatestcontainer\"><Blobs><Blob><Name>fileuploaderr.txt</Name><Properties><Last-Modified>Sun,\
        \ 30 Jul 2017 05:29:08 GMT</Last-Modified><Etag>0x8D4D70BE6E8FF27</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition\
        \ /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>fileuploadout.txt</Name><Properties><Last-Modified>Sun,\
        \ 30 Jul 2017 05:29:08 GMT</Last-Modified><Etag>0x8D4D70BE6EB70BA</Etag><Content-Length>856</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>ITS/NTnstMN5igy2X7WFWA==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>stderr.txt</Name><Properties><Last-Modified>Sun,\
        \ 30 Jul 2017 05:29:08 GMT</Last-Modified><Etag>0x8D4D70BE6EE0965</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition\
        \ /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>stdout.txt</Name><Properties><Last-Modified>Sun,\
        \ 30 Jul 2017 05:29:08 GMT</Last-Modified><Etag>0x8D4D70BE6F053E1</Etag><Content-Length>4</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>CY9rzUYh03PK3k6DJie09g==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:30:53 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:30:53 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:30:53 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:30:53 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:30:53 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/nodeagentskus?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.3\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.2\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.1\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.0\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\"\
        ,\"sku\":\"7.1\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"Oracle\",\"offer\":\"Oracle-Linux\",\"sku\":\"7.2\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\"\
        ,\"sku\":\"7.0\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\"\
        ,\"version\":\"latest\"\r\n        },{\r\n          \"publisher\":\"batch\"\
        ,\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\
        \r\n        }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"\
        batch.node.debian 8\",\"verifiedImageReferences\":[\r\n        {\r\n     \
        \     \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"8\",\"version\"\
        :\"latest\"\r\n        }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n  \
        \    \"id\":\"batch.node.opensuse 13.2\",\"verifiedImageReferences\":[\r\n\
        \        \r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.opensuse\
        \ 42.1\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\"\
        :\"SUSE\",\"offer\":\"o[...]
- request:
    body: '{"virtualMachineConfiguration": {"imageReference": {"offer": "UbuntuServer",
      "publisher": "Canonical", "sku": "14.04.5-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu
      14.04"}, "targetDedicatedNodes": 1, "id": "ncj-ubuntu1404", "vmSize": "STANDARD_D1_V2"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:30:54 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"PoolExists\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The specified pool already exists.\\nRequestId:b7181bf2-eb72-4f8e-8e47-084132aec91d\\\
        nTime:2017-07-30T05:30:52.1890254Z\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: The specified pool already exists.}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:30:55 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D4BD779B71D22D\",\"lastModified\":\"2017-06-27T16:14:37.2768301Z\"\
        ,\"creationTime\":\"2017-06-27T16:14:37.2768301Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-06-27T16:14:37.2768301Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-06-27T16:15:43.231952Z\"\
        ,\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"\
        virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\"\
        :\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"14.04.5-LTS\",\"version\"\
        :\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 14.04\"\r\n  }\r\
        \n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4BD779B71D22D']
      Last-Modified: ['Tue, 27 Jun 2017 16:14:37 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:30:55 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-257509324_1-20170627t161544z\"\
        ,\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-257509324_1-20170627t161544z\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2017-07-30T05:29:19.328836Z\",\"lastBootTime\":\"2017-06-28T03:39:52.590849Z\"\
        ,\"allocationTime\":\"2017-06-27T16:15:44.3636665Z\",\"ipAddress\":\"10.0.0.4\"\
        ,\"affinityId\":\"TVM:tvm-257509324_1-20170627t161544z\",\"vmSize\":\"standard_d1_v2\"\
        ,\"totalTasksRun\":14,\"totalTasksSucceeded\":14,\"runningTasksCount\":0,\"\
        recentTasks\":[\r\n        {\r\n          \"taskUrl\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/mytask\"\
        ,\"jobId\":\"ncj-ubuntu1404-1\",\"taskId\":\"mytask\",\"taskState\":\"completed\"\
        ,\"executionInfo\":{\r\n            \"startTime\":\"2017-07-30T05:29:18.675161Z\"\
        ,\"endTime\":\"2017-07-30T05:29:19.240217Z\",\"exitCode\":0,\"failureInfo\"\
        :{\r\n              \"category\":\"UserError\",\"code\":\"FileUploadAccessDenied\"\
        ,\"message\":\"Access to one of the specified file upload destinations was\
        \ denied\",\"details\":[\r\n                {\r\n                  \"name\"\
        :\"FilePath\",\"value\":\"/mnt/batch/tasks/workitems/ncj-ubuntu1404-1/job-1/myTask/stdout.txt\"\
        \r\n                },{\r\n                  \"name\":\"FilePattern\",\"value\"\
        :\"/mnt/batch/tasks/workitems/ncj-ubuntu1404-1/job-1/myTask/*.txt\"\r\n  \
        \              },{\r\n                  \"name\":\"FileDestination\",\"value\"\
        :\"https://testaccountforbatch.blob.core.windows.net/fgrp-output?sp=w&sig=BN0So6A6Sc5V5hQaQIQHVlc5KXDwrSZZDouAXNv8K5A%3D&sv=2016-05-31&st=2017-07-30T05%3A29%3A20Z&sr=c&se=2017-08-06T05%3A29%3A20Z\"\
        \r\n                }\r\n              ]\r\n            },\"result\":\"Failure\"\
        ,\"retryCount\":0,\"requeueCount\":0\r\n          }\r\n        }\r\n     \
        \ ],\"isDedicated\":true\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"poolInfo": {"poolId": "ncj-ubuntu1404"}, "id": "ncj-ubuntu1404"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://test1.westus.batch.azure.com/jobs?timeout=30&api-version=2017-06-01.5.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/jobs/job-1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4D70C270574D8']
      Last-Modified: ['Sun, 30 Jul 2017 05:30:56 GMT']
      Location: ['https://test1.westus.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"value": [{"commandLine": "/bin/bash -c \"echo test\"", "constraints":
      {"retentionTime": "PT1H"}, "id": "myTask", "outputFiles": [{"destination": {"container":
      {"containerUrl": "https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer?sv=2015-04-05&sr=c&sig=ATi60Em20tc2KTXRl4E5Tl2wrjM1I2roHs1BnZS4JXM%3D&se=2018-12-31T17%3A43%3A53Z&sp=rwdl"}},
      "filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "uploadOptions": {"uploadCondition":
      "taskSuccess"}}]}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/addtaskcollection?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\"\
        ,\"eTag\":\"0x8D4D70C273AFDB7\",\"lastModified\":\"2017-07-30T05:30:56.3839415Z\"\
        ,\"location\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:30:59 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D4D70C270574D8\",\"lastModified\":\"2017-07-30T05:30:56.0330968Z\"\
        ,\"creationTime\":\"2017-07-30T05:30:56.0130971Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-07-30T05:30:56.0330968Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"ncj-ubuntu1404\"\
        \r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2017-07-30T05:30:56.0330968Z\"\
        ,\"poolId\":\"ncj-ubuntu1404\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4D70C270574D8']
      Last-Modified: ['Sun, 30 Jul 2017 05:30:56 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:30:59 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D4D70C273AFDB7\",\"creationTime\":\"2017-07-30T05:30:56.3839415Z\"\
        ,\"lastModified\":\"2017-07-30T05:30:56.3839415Z\",\"state\":\"running\",\"\
        stateTransitionTime\":\"2017-07-30T05:30:56.756772Z\",\"previousState\":\"\
        active\",\"previousStateTransitionTime\":\"2017-07-30T05:30:56.3839415Z\"\
        ,\"commandLine\":\"/bin/bash -c \\\"echo test\\\"\",\"outputFiles\":[\r\n\
        \        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\"\
        :{\r\n            \"container\":{\r\n              \"containerUrl\":\"https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer?sv=2015-04-05&sr=c&sig=ATi60Em20tc2KTXRl4E5Tl2wrjM1I2roHs1BnZS4JXM%3D&se=2018-12-31T17%3A43%3A53Z&sp=rwdl\"\
        \r\n            }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\"\
        :\"TaskSuccess\"\r\n          }\r\n        }\r\n      ],\"userIdentity\":{\r\
        \n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n\
        \        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\"\
        :0\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2017-07-30T05:30:56.756899Z\"\
        ,\"retryCount\":0,\"requeueCount\":0\r\n      },\"nodeInfo\":{\r\n       \
        \ \"affinityId\":\"TVM:tvm-257509324_1-20170627t161544z\",\"nodeUrl\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-257509324_1-20170627t161544z\"\
        ,\"poolId\":\"ncj-ubuntu1404\",\"nodeId\":\"tvm-257509324_1-20170627t161544z\"\
        ,\"taskRootDirectory\":\"workitems/ncj-ubuntu1404/job-1/myTask\",\"taskRootDirectoryUrl\"\
        :\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-257509324_1-20170627t161544z/files/workitems/ncj-ubuntu1404/job-1/myTask\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:03 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D4D70C273AFDB7\",\"creationTime\":\"2017-07-30T05:30:56.3839415Z\"\
        ,\"lastModified\":\"2017-07-30T05:30:56.3839415Z\",\"state\":\"completed\"\
        ,\"stateTransitionTime\":\"2017-07-30T05:30:57.490142Z\",\"previousState\"\
        :\"running\",\"previousStateTransitionTime\":\"2017-07-30T05:30:56.756772Z\"\
        ,\"commandLine\":\"/bin/bash -c \\\"echo test\\\"\",\"outputFiles\":[\r\n\
        \        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\"\
        :{\r\n            \"container\":{\r\n              \"containerUrl\":\"https://testaccountforbatch.blob.core.windows.net:443/aaatestcontainer?sv=2015-04-05&sr=c&sig=ATi60Em20tc2KT[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:04 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubun[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:08 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://test1.westus.batch.azure.com/pools/n[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:09 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2/nodes?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-257509324_1-20170627t164643z\"\
        ,\"ur[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:10 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2\"\
        ,\"eTag\":\"0x8D4D70C2D425240\",\"lastModified\":\"2017-07-30T05:31:06.4983104Z\"\
        ,\"creationTime\":\"2017-07-30T05:31:06.4743168Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-07-30T05:31:06.4983104Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"ncj-windows-2012-r2\"\
        \r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2017-07-30T05:31:06.4983104Z\"\
        ,\"poolId\":\"ncj-windows-2012-r2\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4D70C2D425240']
      Last-Modified: ['Sun, 30 Jul 2017 05:31:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:10 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azur[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Sun, 30 Jul 2017 05:31:16 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:31:20 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://testaccountforbatch.blob.core.windows.net/\"\
        \ ContainerName=\"fgrp-output\"><Blobs /><NextMarker /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/batchAccounts?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Batch/batchAccounts/test1","name":"test1","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"test1.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":800,"lowPriorityCoreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Storage/storageAccounts/testaccountforbatch","lastKeySync":"2017-07-22T22:41:15.9792828Z"},"poolAllocationMode":"batchservice"},"tags":{"Value":"tagValue","test":"test1","Name":"tagName"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-original-request-ids: [f2d4b4f7-aa49-41ea-8757-391b9d449b69, b5f831aa-c552-4c66-9a82-ae9bcab6773c,
        9b6c1f48-c15f-4f46-b817-14736faf366f, 29360e8d-75c3-4364-a52c-924d42892cda,
        0b965a29-7e49-4d63-90a5-620cdfc1d8e5, afb979f0-ab8b-475a-88ec-934d1c5fce5c,
        a152af3f-d9c6-4ed2-b849-fa77c7a2f678]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Storage/storageAccounts/testaccountforbatch/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"abc=="},{"keyName":"key2","permissions":"Full","value":"xyz=="}]}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:31:24 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:370497b0-0001-00bc-31f5-08ad95000000\n\
        Time:2017-07-30T05:31:21.9752207Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 409, message: The specified container already exists.}
[...]
- request:
    body: '{"value": [{"commandLine": "/bin/bash -c \"echo test\"", "constraints":
      {"retentionTime": "PT1H"}, "id": "myTask", "outputFiles": [{"destination": {"container":
      {"containerUrl": "https://testaccountforbatch.blob.core.windows.net/fgrp-output?sr=c&sv=2016-05-31&st=2017-07-30T05%3A31%3A24Z&sig=45fKc2vscUBjxkNIzgw3swDbUnO3V7/Meqv93dJ%2B%2BO0%3D&se=2017-08-06T05%3A31%3A24Z&sp=w"}},
      "filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "uploadOptions": {"uploadCondition":
      "taskSuccess"}}]}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404-1/addtaskcollection?api-version=2017-06-01.5.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\"\
        ,\"eTag\":\"0x8D4D70C36BC4E69\",\"lastModified\":\"2017-07-30T05:31:22.3972457Z\"\
        ,\"location\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/myTask\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:31:29 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:31:29 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:31:29 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Sun, 30 Jul 2017 05:31:30 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"value": [{"commandLine": "cmd /c echo | set /p dummy=test", "constraints":
      {"retentionTime": "PT1H"}, "id": "myTask", "outputFiles": [{"destination": {"container":
      {"containerUrl": "https://testaccountforbatch.blob.core.windows.net/fgrp-output?sr=c&sv=2016-05-31&st=2017-07-30T05%3A31%3A34Z&sig=DFjUwXIVAmH5gtoXc4XbAdekFgDMbvqo2uXItGrvMwg%3D&se=2017-08-06T05%3A31%3A34Z&sp=w"}},
[...]
