interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Batch/batchAccounts/test1?api-version=2017-01-01
  response:
    body: {string: '{"name":"test1","location":"westus","properties":{"accountEndpoint":"test1.westus.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Storage/storageAccounts/testaccountforbatch","lastKeySync":"2017-03-15T00:15:05.7025693Z"},"poolAllocationMode":"batchservice"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Batch/batchAccounts/test1","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['0x8D46B71336142FE']
      Last-Modified: ['Wed, 15 Mar 2017 07:02:10 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Storage/storageAccounts/testaccountforbatch/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"PpNaQL59zwPlzp1EKZmOUEV1FHRy8f970G5k+SnpbpITEDDMwCTSbrSWOFRZaroFFRefD6+dMMYcthsdiQEZfg=="},{"keyName":"key2","permissions":"Full","value":"iobH+ZlQ+pV/wnyxa79nAvFO52HhHfZQbkmdSCU+CmwIDhyxbJbAitHMqUC1leBFY9nHO4ws3KLWrpbo1AXlig=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 07:02:13 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-cli-batch-ncj-live-tests?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:7021bac2-0001-00f7-515a-9d9c0f000000\n\
        Time:2017-03-15T07:02:13.2537463Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 409, message: The specified container already exists.}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 07:02:13 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-cli-batch-ncj-live-tests/foo.txt?comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4629B64A8BA25"']
      Last-Modified: ['Sat, 04 Mar 2017 01:11:31 GMT']
      x-ms-meta-lastmodified: ['1488583584.0006397']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: '1'
    headers:
      Content-MD5: [xMpCOKC5I4INzFCab3WEmw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 15 Mar 2017 07:02:13 GMT']
      x-ms-meta-lastmodified: ['1489561158.7445452']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-cli-batch-ncj-live-tests/foo.txt
  response:
    body: {string: ''}
    headers:
      Content-MD5: [xMpCOKC5I4INzFCab3WEmw==]
      ETag: ['"0x8D46B713540FE0C"']
      Last-Modified: ['Wed, 15 Mar 2017 07:02:13 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 07:02:16 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-cli-batch-ncj-live-tests/test/data/foo.txt?comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4629B66BD27C3"']
      Last-Modified: ['Sat, 04 Mar 2017 01:11:34 GMT']
      x-ms-meta-lastmodified: ['1488583584.0006397']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: '1'
    headers:
      Content-MD5: [xMpCOKC5I4INzFCab3WEmw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 15 Mar 2017 07:02:16 GMT']
      x-ms-meta-lastmodified: ['1489561158.7445452']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-cli-batch-ncj-live-tests/test/data/foo.txt
  response:
    body: {string: ''}
    headers:
      Content-MD5: [xMpCOKC5I4INzFCab3WEmw==]
      ETag: ['"0x8D46B7136E71EBA"']
      Last-Modified: ['Wed, 15 Mar 2017 07:02:16 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
version: 1
