interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:16 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://sdkteststore2.blob.core.windows.net/aaatestcontainer?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://sdkteststore2.blob.core.windows.net/\" ContainerName=\"\
        aaatestcontainer\"><Blobs><Blob><Name>fileuploaderr.txt</Name><Properties><Last-Modified>Mon,\
        \ 25 Feb 2019 17:17:17 GMT</Last-Modified><Etag>0x8D69B4518251B26</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>fileuploadout.txt</Name><Properties><Last-Modified>Mon,\
        \ 25 Feb 2019 17:17:17 GMT</Last-Modified><Etag>0x8D69B4518267AF0</Etag><Content-Length>405</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>IRo1MKuJBUbuDrA61ciYMw==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTi[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:17 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/aaatestcontainer/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:17 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/aaatestcontainer/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:17 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/aaatestcontainer/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:17 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/aaatestcontainer/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:17 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/nodeagentskus?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.6\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.4\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\"\
        ,\"sku\":\"7.3\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.1\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\"\
        ,\"sku\":\"7.6\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\"\
        ,\"version\":\"latest\"\r\n        },{\r\n          \"publisher\":\"batch\"\
        ,\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\"\
        :\"centos-container\",\"sku\":\"7-5\",\"version\":\"latest\"\r\n        },{\r\
        \n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container-rdma\"\
        ,\"sku\":\"7-4\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\"\
        :\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian 8\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\"\
        ,\"sku\":\"8\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\":\"\
        linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian 9\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\"\
        ,\"sku\":\"9\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\":\"\
        linux\"\r\n    },{\r\n      \"id\":\"batch.node.ubuntu 14.04\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\"\
        ,\"sku\":\"14.04.5-LTS\",\"version\":\"latest\"\r\n        }\r\n      ],\"\
        osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.ubuntu 16.04\"\
        ,\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"\
        Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"\
        latest\"\r\n        },{\r\n          \"publisher\":\"microsoft-dsvm\",\"offer\"\
        :\"linux-data-science-vm-ubuntu\",\"sku\":\"linuxdsvmubuntu\",\"version\"\
        :\"latest\"\r\n        },{\r\n          \"publisher\":\"microsoft-azure-batch\"\
        ,\"offer\":\"ubuntu-server-container\",\"sku\":\"16-04-lts\",\"version\":\"\
        latest\"\r\n   [...]
- request:
    body: '{"id": "ncj-ubuntu1404", "vmSize": "STANDARD_D1_V2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "14.04.5-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 14.04"}, "targetDedicatedNodes":
      1}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 25 Feb 2019 17:37:17 GMT']
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"PoolExists\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The specified pool already exists.\\nRequestId:472ae79d-03be-4a9b-8e64-463bbf346443\\\
        nTime:2019-02-25T17:37:18.0644465Z\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: The specified pool already exists.}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:18 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/ncj-ubuntu1404?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D6888F05CD0826\",\"lastModified\":\"2019-02-01T21:48:37.8527782Z\"\
        ,\"creationTime\":\"2019-02-01T21:48:37.8527782Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-02-01T21:48:37.8527782Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2019-02-01T21:50:08.9105545Z\"\
        ,\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"\
        virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\"\
        :\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"14.04.5-LTS\",\"version\"\
        :\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 14.04\"\r\n  }\r\
        \n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D6888F05CD0826']
      Last-Modified: ['Fri, 01 Feb 2019 21:48:37 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:18 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/ncj-ubuntu1404/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d\"\
        ,\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2019-02-25T17:17:24.824775Z\",\"lastBootTime\":\"2019-02-01T21:50:35.050321Z\"\
        ,\"allocationTime\":\"2019-02-01T21:50:08.5925131Z\",\"ipAddress\":\"10.0.0.4\"\
        ,\"affinityId\":\"TVM:tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d\"\
        ,\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":78,\"totalTasksSucceeded\"\
        :78,\"runningTasksCount\":0,\"recentTasks\":[\r\n        {\r\n          \"\
        taskUrl\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/myTask\"\
        ,\"jobId\":\"ncj-ubuntu1404-1\",\"taskId\":\"myTask\",\"taskState\":\"completed\"\
        ,\"executionInfo\":{\r\n            \"startTime\":\"2019-02-25T17:17:24.210573Z\"\
        ,\"endTime\":\"2019-02-25T17:17:24.797547Z\",\"exitCode\":0,\"result\":\"\
        success\",\"retryCount\":0,\"requeueCount\":0\r\n          }\r\n        }\r\
        \n      ],\"isDedicated\":true,\"endpointConfiguration\":{\r\n        \"inboundEndpoints\"\
        :[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\"\
        ,\"publicIPAddress\":\"13.78.142.128\",\"publicFQDN\":\"dnsda0b580d-f13b-4b51-bc4e-ce733123f580-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\"\
        ,\"frontendPort\":50000,\"backendPort\":22\r\n          }\r\n        ]\r\n\
        \      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2019-02-01T21:50:35.050321Z\"\
        ,\"version\":\"1.4.9\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "ncj-ubuntu1404", "poolInfo": {"poolId": "ncj-ubuntu1404"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs?api-version=2018-12-01.8.0&timeout=30
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://sdktest2.westcentralus.batch.azure.com/jobs/job-1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D69B47E4A214EF']
      Last-Modified: ['Mon, 25 Feb 2019 17:37:20 GMT']
      Location: ['https://sdktest2.westcentralus.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"value": [{"id": "myTask", "commandLine": "/bin/bash -c \"echo test\"",
      "outputFiles": [{"filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "destination": {"container":
      {"containerUrl": "https://sdkteststore2.blob.core.windows.net/aaatestcontainer?st=2019-02-25T17%3A37%3A16Z&se=2019-02-26T17%3A37%3A16Z&sp=rw&sv=2017-07-29&sr=c&sig=AnNCCACeHIbXvMBGC%2BrE/rZ0SWMPFmBXp9aiPbb6Rwg%3D"}},
      "uploadOptions": {"uploadCondition": "tasksuccess"}}], "constraints": {"retentionTime":
      "PT1H"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/addtaskcollection?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\"\
        ,\"eTag\":\"0x8D69B47E5A44CF9\",\"lastModified\":\"2019-02-25T17:37:21.7237241Z\"\
        ,\"location\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:21 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D69B47E4A214EF\",\"lastModified\":\"2019-02-25T17:37:20.0314607Z\"\
        ,\"creationTime\":\"2019-02-25T17:37:19.9820297Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-02-25T17:37:20.0314607Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"ncj-ubuntu1404\"\
        \r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-02-25T17:37:20.0314607Z\"\
        ,\"poolId\":\"ncj-ubuntu1404\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D69B47E4A214EF']
      Last-Modified: ['Mon, 25 Feb 2019 17:37:20 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:22 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D69B47E5A44CF9\",\"creationTime\":\"2019-02-25T17:37:21.7237241Z\"\
        ,\"lastModified\":\"2019-02-25T17:37:21.7237241Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-02-25T17:37:21.7237241Z\",\"commandLine\":\"\
        /bin/bash -c \\\"echo test\\\"\",\"outputFiles\":[\r\n        {\r\n      \
        \    \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\":{\r\n  \
        \          \"container\":{\r\n              \"containerUrl\":\"https://sdkteststore2.blob.core.windows.net/aaatestcontainer?st=2019-02-25T17%3A37%3A16Z&se=2019-02-26T17%3A37%3A16Z&sp=rw&sv=2017-07-29&sr=c&sig=AnNCCACeHIbXvMBGC%2BrE/rZ0SWMPFmBXp9aiPbb6Rwg%3D\"\
        \r\n            }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\"\
        :\"TaskSuccess\"\r\n          }\r\n        }\r\n      ],\"userIdentity\":{\r\
        \n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n\
        \        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\"\
        :0\r\n      },\"executionInfo\":{\r\n        \"retryCount\":0,\"requeueCount\"\
        :0\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:25 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D69B47E5A44CF9\",\"creationTime\":\"2019-02-25T17:37:21.7237241Z\"\
        ,\"lastModified\":\"2019-02-25T17:37:21.7237241Z\",\"state\":\"completed\"\
        ,\"stateTransitionTime\":\"2019-02-25T17:37:22.90673Z\",\"previousState\"\
        :\"running\",\"previousStateTransitionTime\":\"2019-02-25T17:37:22.248804Z\"\
        ,\"commandLine\":\"/bin/bash -c \\\"echo test\\\"\",\"outputFiles\":[\r\n\
        \        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\"\
        :{\r\n            \"container\":{\r\n              \"containerUrl\":\"https://sdkteststore2.blob.core.windows.net/aaatestcontainer?st=2019-02-25T17%3A37%3A16Z&se=2019-02-26T17%3A37%3A16Z&sp=rw&sv=2017-07-29&sr=c&sig=AnNCCACeHIbXvMBGC%2BrE/rZ0SWMPFmBXp9aiPbb6Rwg%3D\"\
        \r\n            }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\"\
        :\"TaskSuccess\"\r\n          }\r\n        }\r\n      ],\"userIdentity\":{\r\
        \n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n\
        \        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\"\
        :0\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2019-02-25T17:37:22.248878Z\"\
        ,\"endTime\":\"2019-02-25T17:37:22.90673Z\",\"exitCode\":0,\"result\":\"success\"\
        ,\"retryCount\":0,\"requeueCount\":0\r\n      },\"nodeInfo\":{\r\n       \
        \ \"affinityId\":\"TVM:tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d\"\
        ,\"nodeUrl\":\"https://sdktest2.westcentralus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d\"\
        ,\"poolId\":\"ncj-ubuntu1404\",\"nodeId\":\"tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d\"\
        ,\"taskRootDirectory\":\"workitems/ncj-ubuntu1404/job-1/myTask\",\"taskRootDirectoryUrl\"\
        :\"https://sdktest2.westcentralus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvmps_3982c3b55d7942a268dd4bb06d2d4ee8dfdd6d6452a5a644a87d4ef5a77bf4fe_d/files/workitems/ncj-ubuntu1404/job-1/myTask\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:25 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:26 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/ncj-windows-2012-r2?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/ncj-windows-2012-r2\"\
        ,\"eTag\":\"0x8D6[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:26 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/ncj-windows-2012-r2/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvmps_7aae59e856651b7c5eef9dc33a67ed4cc1cd7a0fd2b6857fd6cc5219cfed79b9_d\"\
        ,\"url\":\"https://sdk[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:27 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-windows-2012-r2?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-windows-2012-r2\"\
        ,\"eTag\":\"0x8D69B47E9036A4D\",\"lastModified\":\"2019-02-25T17:37:27.3802317Z\"\
        ,\"creationTime\":\"2019-02-25T17:37:27.3662294Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2019-02-25T17:37:27.3802317Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"ncj-windows-2012-r2\"\
        \r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-02-25T17:37:27.3802317Z\"\
        ,\"poolId\":\"ncj-windows-2012-r2\"\r\n  },\"onAllTasksComplete\":\"noaction\"\
        ,\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D69B47E9036A4D']
      Last-Modified: ['Mon, 25 Feb 2019 17:37:27 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:28 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\"\
[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:31 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\"\
        ,\"eTa[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:31 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://sdkteststore2.blob.core.windows.net/fgrp-output?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://sdkteststore2.blob.core.windows.net/\" ContainerName=\"\
        fgrp-output\"><Blobs><Blob><Name>fileuploaderr.txt</Name><Proper[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:32 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/fgrp-output/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:32 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/fgrp-output/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:32 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/fgrp-output/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:32 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://sdkteststore2.blob.core.windows.net/fgrp-output/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/batchAccounts?api-version=2018-12-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Batch/batchAccounts/sdktest2","name":"sdktest2","type":"Microsoft.Batch/batchAccounts","location":"westcentralus","properties":{"accountEndpoint":"sdktest2.westcentralus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Storage/storageAccounts/sdkteststore2","lastKeySync":"2019-01-03T22:11:31.6617722Z"},"poolAllocationMode":"BatchService"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Storage/storageAccounts/sdkteststore2/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"abc==","permissions":"FULL"},{"keyName":"key2","value":"def==","permissions":"FULL"}]}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Feb 2019 17:37:35 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://sdkteststore2.blob.core.windows.net/fgrp-output?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:587248b2-c01e-009f-4230-cd1cba000000\n\
        Time:2019-02-25T17:37:35.4606630Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ContainerAlreadyExists]
      x-ms-version: ['2017-07-29']
    status: {code: 409, message: The specified container already exists.}
[...]
- request:
    body: '{"value": [{"id": "myTask", "commandLine": "/bin/bash -c \"echo test\"",
      "outputFiles": [{"filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "destination": {"container":
      {"containerUrl": "https://sdkteststore2.blob.core.windows.net/fgrp-output?st=2019-02-25T17%3A22%3A35Z&se=2019-03-04T17%3A37%3A35Z&sp=w&sv=2017-07-29&sr=c&sig=ZTUVL0/cWsrnHjCO%2BHDEPttM0wp4GXxiTPikzJD1ctw%3D"}},
      "uploadOptions": {"uploadCondition": "tasksuccess"}}], "constraints": {"retentionTime":
      "PT1H"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404-1/addtaskcollection?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\"\
        ,\"eTag\":\"0x8D69B47EE6D78FA\",\"lastModified\":\"2019-02-25T17:37:36.463897Z\"\
        ,\"location\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/myTask\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 25 Feb 2019 17:37:36 GMT']
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks\"\
[...]
