interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:03 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://brkltest.blob.core.windows.net/\" ContainerName=\"aaatestcontainer\"><Blobs
        /><NextMarker /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:03 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/nodeagentskus?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#nodeagentskus\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\":[\r\n
        \       {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.4\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.3\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.1\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\",\"sku\":\"7.4\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container\",\"sku\":\"7-5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container-rdma\",\"sku\":\"7-4\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian
        8\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"8\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian
        9\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"9\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"o[...]
- request:
    body: '{"id": "ncj-ubuntu1404", "vmSize": "STANDARD_D1_V2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "14.04.5-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 14.04"}, "targetDedicatedNodes":
      1}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 Oct 2018 20:34:03 GMT']
    method: POST
    uri: https://brkltest.eastus2.batch.azure.com/pools?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolExists\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The specified pool already exists.\\nRequestId:886d35fb-6635-415e-844f-e52b7c16a087\\nTime:2018-10-16T20:34:04.2826086Z\"\r\n
        \ }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: The specified pool already exists.}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:04 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/pools/ncj-ubuntu1404?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"ncj-ubuntu1404\",\"url\":\"https://brkltest.eastus2.batch.azure.com/pools/ncj-ubuntu1404\",\"eTag\":\"0x8D60E9AFA44B9BC\",\"lastModified\":\"2018-08-30T17:06:50.6064316Z\",\"creationTime\":\"2018-08-30T17:06:50.6064316Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-30T17:06:50.6064316Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-08-30T17:08:56.0054463Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"14.04.5-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 14.04\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D60E9AFA44B9BC']
      Last-Modified: ['Thu, 30 Aug 2018 17:06:50 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:04 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/pools/ncj-ubuntu1404/nodes?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-2487789449_1-20180830t170855z\",\"url\":\"https://brkltest.eastus2.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2487789449_1-20180830t170855z\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-10-16T20:31:53.904116Z\",\"lastBootTime\":\"2018-08-30T17:09:11.451508Z\",\"allocationTime\":\"2018-08-30T17:08:55.2748194Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvm-2487789449_1-20180830t170855z\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":53,\"totalTasksSucceeded\":53,\"runningTasksCount\":0,\"recentTasks\":[\r\n
        \       {\r\n          \"taskUrl\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/myTask\",\"jobId\":\"ncj-ubuntu1404-1\",\"taskId\":\"myTask\",\"taskState\":\"completed\",\"executionInfo\":{\r\n
        \           \"startTime\":\"2018-10-16T20:31:53.240548Z\",\"endTime\":\"2018-10-16T20:31:53.877674Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n
        \         }\r\n        }\r\n      ],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"40.70.213.124\",\"publicFQDN\":\"dnsf372daf0-42f6-475a-9089-b6607f934ed7-azurebatch-cloudservice.eastus2.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2018-08-30T17:09:11.451508Z\",\"version\":\"1.3.0.9\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/batchAccounts?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batcheastustests/providers/Microsoft.Batch/batchAccounts/batcheastustests","name":"batcheastustests","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"batcheastustests.eastus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batcheastustests/providers/Microsoft.Storage/storageAccounts/batcheastustests","lastKeySync":"2018-10-04T17:09:16.3080855Z"},"poolAllocationMode":"BatchService"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/brkltest/providers/Microsoft.Batch/batchAccounts/brkltest","name":"brkltest","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"brkltest.eastus2.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/brkltest/providers/Microsoft.Storage/storageAccounts/brkltest","lastKeySync":"2018-09-10T19:12:52.1201346Z"},"poolAllocationMode":"BatchService"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-original-request-ids: [f83f2809-2f24-4a90-8bc6-f63d898f3e90, 37e20540-8865-470d-ba11-1d45bf92bb48]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/brkltest/providers/Microsoft.Storage/storageAccounts/brkltest/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"1234==","permissions":"FULL"},{"keyName":"key2","value":"1234==","permissions":"FULL"}]}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:06 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:4a564e29-301e-008b-178f-650dc8000000\nTime:2018-10-16T20:34:06.6753238Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ContainerAlreadyExists]
      x-ms-version: ['2017-07-29']
    status: {code: 409, message: The specified container already exists.}
- request:
    body: '{"id": "ncj-ubuntu1404", "poolInfo": {"poolId": "ncj-ubuntu1404"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      return-client-request-id: ['false']
    method: POST
    uri: https://brkltest.eastus2.batch.azure.com/jobs?api-version=2018-08-01.7.0&timeout=30
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://brkltest.eastus2.batch.azure.com/jobs/job-1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D633A6B8A35E44']
      Last-Modified: ['Tue, 16 Oct 2018 20:34:07 GMT']
      Location: ['https://brkltest.eastus2.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"value": [{"id": "myTask", "commandLine": "/bin/bash -c \"echo test\"",
      "outputFiles": [{"filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "destination": {"container":
      {"containerUrl": "https://brkltest.blob.core.windows.net/aaatestcontainer?st=2018-10-16T20%3A19%3A06Z&se=2018-10-23T20%3A34%3A06Z&sp=w&sv=2017-07-29&sr=c&sig=x4mQnyu4js2ah3zyorTYl1PjZkC9w3ALG8WoZKD1UJI%3D"}},
      "uploadOptions": {"uploadCondition": "tasksuccess"}}], "constraints": {"retentionTime":
      "PT1H"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/addtaskcollection?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\",\"eTag\":\"0x8D633A6B947D3CE\",\"lastModified\":\"2018-10-16T20:34:08.5583822Z\",\"location\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:08 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"ncj-ubuntu1404\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404\",\"eTag\":\"0x8D633A6B8A35E44\",\"lastModified\":\"2018-10-16T20:34:07.4805828Z\",\"creationTime\":\"2018-10-16T20:34:07.4189232Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-10-16T20:34:07.4805828Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"ncj-ubuntu1404\"\r\n  },\"executionInfo\":{\r\n
        \   \"startTime\":\"2018-10-16T20:34:07.4805828Z\",\"poolId\":\"ncj-ubuntu1404\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D633A6B8A35E44']
      Last-Modified: ['Tue, 16 Oct 2018 20:34:07 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:09 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#tasks\",\"value\":[\r\n
        \   {\r\n      \"id\":\"myTask\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\",\"eTag\":\"0x8D633A6B947D3CE\",\"creationTime\":\"2018-10-16T20:34:08.5583822Z\",\"lastModified\":\"2018-10-16T20:34:08.5583822Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-10-16T20:34:08.5583822Z\",\"commandLine\":\"/bin/bash
        -c \\\"echo test\\\"\",\"outputFiles\":[\r\n        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\":{\r\n
        \           \"container\":{\r\n              \"containerUrl\":\"https://brkltest.blob.core.windows.net/aaatestcontainer?st=2018-10-16T20%3A19%3A06Z&se=2018-10-23T20%3A34%3A06Z&sp=w&sv=2017-07-29&sr=c&sig=x4mQnyu4js2ah3zyorTYl1PjZkC9w3ALG8WoZKD1UJI%3D\"\r\n
        \           }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\":\"TaskSuccess\"\r\n
        \         }\r\n        }\r\n      ],\"userIdentity\":{\r\n        \"autoUser\":{\r\n
        \         \"elevationLevel\":\"nonadmin\"\r\n        }\r\n      },\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\":0\r\n
        \     },\"executionInfo\":{\r\n        \"retryCount\":0,\"requeueCount\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:12 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#tasks\",\"value\":[\r\n
        \   {\r\n      \"id\":\"myTask\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\",\"eTag\":\"0x8D633A6B947D3CE\",\"creationTime\":\"2018-10-16T20:34:08.5583822Z\",\"lastModified\":\"2018-10-16T20:34:08.5583822Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2018-10-16T20:34:11.288083Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2018-10-16T20:34:10.463888Z\",\"commandLine\":\"/bin/bash
        -c \\\"echo test\\\"\",\"outputFiles\":[\r\n        {\r\n          \"filePattern\":\"$AZ_BATCH_TASK_DIR/*.txt\",\"destination\":{\r\n
        \           \"container\":{\r\n              \"containerUrl\":\"https://brkltest.blob.core.windows.net/aaatestcontainer?st=2018-10-16T20%3A19%3A06Z&se=2018-10-23T20%3A34%3A06Z&sp=w&sv=2017-07-29&sr=c&sig=x4mQnyu4js2ah3zyorTYl1PjZkC9w3ALG8WoZKD1UJI%3D\"\r\n
        \           }\r\n          },\"uploadOptions\":{\r\n            \"uploadCondition\":\"TaskSuccess\"\r\n
        \         }\r\n        }\r\n      ],\"userIdentity\":{\r\n        \"autoUser\":{\r\n
        \         \"elevationLevel\":\"nonadmin\"\r\n        }\r\n      },\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\":0\r\n
        \     },\"executionInfo\":{\r\n        \"startTime\":\"2018-10-16T20:34:10.463982Z\",\"endTime\":\"2018-10-16T20:34:11.288083Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n
        \     },\"nodeInfo\":{\r\n        \"affinityId\":\"TVM:tvm-2487789449_1-20180830t170855z\",\"nodeUrl\":\"https://brkltest.eastus2.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2487789449_1-20180830t170855z\",\"poolId\":\"ncj-ubuntu1404\",\"nodeId\":\"tvm-2487789449_1-20180830t170855z\",\"taskRootDirectory\":\"workitems/ncj-ubuntu1404/job-1/myTask\",\"taskRootDirectoryUrl\":\"https://brkltest.eastus2.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2487789449_1-20180830t170855z/files/workitems/ncj-ubuntu1404/job-1/myTask\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:13 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"myTask\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\",\"eTag\":\"0x8D633A6B947D3CE\",\"creationTime\":\"201[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:13 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://brkltest.blob.core.windows.net/\" ContainerName=\"aaatestcontainer\"><Blobs><Blob><Name>fileuploaderr.txt</Name><Properties><Last-Modified>Tue,
        16 Oct 2018 20:34:11 GMT</Last-Modified><Etag>0x8D633A6BACF6B32</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>fileuploadout.txt</Name><Properties><Last-Modified>Tue,
        16 Oct 2018 20:34:11 GMT</Last-Modified><Etag>0x8D633A6BACA12BD</Etag><Content-Length>394</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>BSXxfKTL+Sak/i3fknLXrw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:14 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:14 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:14 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:14 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://brkltest.blob.core.windows.net/aaatestcontainer/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:15 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/pools/ncj-windows-2012-r2?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://brkltest.eastus2.batch.azure.com/pools/ncj-windows-2012-r2\",\"eTag\":\"0x8D60EB487FFEF7F\",\"lastModified\":\"2018[...]
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:15 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/pools/ncj-windows-2012-r2/nodes?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-2487789449_1-20180830t201134z\",\"url\":\"https://brkltest.eastus2.batch.azure.com/pools/ncj-windows-2012-r2/nodes/[...]
[...]
- request:
    body: '{"value": [{"id": "myTask", "commandLine": "cmd /c echo | set /p dummy=test",
      "outputFiles": [{"filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "destination": {"container":
      {"containerUrl": "https://brkltest.blob.core.windows.net/aaatestcontainer?st=2018-10-16T20%3A19%3A17Z&se=2018-10-23T20%3A34%3A17Z&sp=w&sv=2017-07-29&sr=c&sig=ePdhcD2eLzHez4k9yvXrnsAICL/ytGHT8niMkQ%2B0%2BtI%3D"}},
      "uploadOptions": {"uploadCondition": "tasksuccess"}}], "constraints": {"retentionTime":
      "PT1H"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2/addtaskcollection?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\",\"eTag\":\"0x8D633A6C4E52A49\",\"lastModified\":\"2018-10-16T20:34:28.0444489Z\",\"location\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:28 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2\",\"eTag\":\"0x8D633A6C33D6B34\",\"lastModified\":\"2018-10-16T20:34:25.2673844Z\",\"creationTime\":\"2018-10-16T20:34:25.1662187Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-10-16T20:34:25.2673844Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"ncj-windows-2012-r2\"\r\n  },\"executionInfo\":{\r\n
        \   \"startTime\":\"2018-10-16T20:34:25.2673844Z\",\"poolId\":\"ncj-windows-2012-r2\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D633A6C33D6B34']
      Last-Modified: ['Tue, 16 Oct 2018 20:34:25 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:28 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2/tasks?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#tasks\",\"value\":[\r\n
        \   {\r\n      \"id\":\"myTask\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\",\"eTag\":\"0x8D633A6[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Tue, 16 Oct 2018 20:34:32 GMT']
    method: GET
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"myTask\",\"url\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask\",\"eTag\":\"0x8D633A6C4E52A49\",\"creationTi[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:33 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://brkltest.blob.core.windows.net/fgrp-output?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:5e235027-201e-00d0-298f-650ab4000000\nTime:2018-10-16T20:34:33.3315963Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ContainerNotFound]
      x-ms-version: ['2017-07-29']
    status: {code: 404, message: The specified container does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:35 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://brkltest.blob.core.windows.net/fgrp-output?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D633A6C9D2FA15"']
      Last-Modified: ['Tue, 16 Oct 2018 20:34:36 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"value": [{"id": "myTask", "commandLine": "/bin/bash -c \"echo test\"",
      "outputFiles": [{"filePattern": "$AZ_BATCH_TASK_DIR/*.txt", "destination": {"container":
      {"containerUrl": "https://brkltest.blob.core.windows.net/fgrp-output?st=2018-10-16T20%3A19%3A36Z&se=2018-10-23T20%3A34%3A36Z&sp=w&sv=2017-07-29&sr=c&sig=KQ5sYSe6mJPv5bXIlr4HW3tLJzQmZQPybkid1nKVi4Q%3D"}},
      "uploadOptions": {"uploadCondition": "tasksuccess"}}], "constraints": {"retentionTime":
      "PT1H"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404-1/addtaskcollection?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://brkltest.eastus2.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\",\"eTag\":\"0x8D633A6CAC948E2\",\"lastModified\":\"2018-10-16T20:34:37.928061Z\",\"location\":\"https://brkltest.eastus2.batch.azure.com/jobs/ncj-ubuntu1404-1/tasks/myTask\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:43 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://brkltest.blob.core.windows.net/fgrp-output/fileuploaderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 16 Oct 2018 20:34:43 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://brkltest.blob.core.windows.net/fgrp-output/fileuploadout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
- request:
[...]
