interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:32:10 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://testaccountforbatch.blob.core.windows.net/\" ContainerName=\"\
        aaatestcontainer\"><Blobs><Blob><Name>stderr.txt</Name><Properties><Last-Modified>Wed,\
        \ 15 Mar 2017 06:30:36 GMT</Last-Modified><Etag>0x8D46B6CCA7746C9</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition\
        \ /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>stdout.txt</Name><Properties><Last-Modified>Wed,\
        \ 15 Mar 2017 06:30:36 GMT</Last-Modified><Etag>0x8D46B6CCA79432F</Etag><Content-Length>5</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>orLWaTix8CPexjlPEreCtQ==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>uploadlog.txt</Name><Properties><Last-Modified>Wed,\
        \ 15 Mar 2017 06:30:36 GMT</Last-Modified><Etag>0x8D46B6CCA7E2638</Etag><Content-Length>1112</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>yYyq2QLbZX//lMNQfs+qnA==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:32:11 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:32:11 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:32:11 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/aaatestcontainer/uploadlog.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:11 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/nodeagentskus?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.3\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.2\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.1\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.0\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\"\
        ,\"sku\":\"7.1\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"Oracle\",\"offer\":\"Oracle-Linux\",\"sku\":\"7.2\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\"\
        ,\"sku\":\"7.0\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\"\
        ,\"version\":\"latest\"\r\n        }\r\n      ],\"osType\":\"linux\"\r\n \
        \   },{\r\n      \"id\":\"batch.node.debian 8\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\"\
        ,\"sku\":\"8\",\"version\":\"latest\"\r\n        }\r\n      ],\"osType\":\"\
        linux\"\r\n    },{\r\n      \"id\":\"batch.node.opensuse 13.2\",\"verifiedImageReferences\"\
        :[\r\n        \r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\"\
        :\"batch.node.opensuse 42.1\",\"verifiedImageReferences\":[\r\n        {\r\
        \n          \"publisher\":\"SUSE\",\"offer\":\"openSUSE-Leap\",\"sku\":\"\
        42.1\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\":\"\
        SUSE\",\"offer\":\"SLES\",\"sku\":\"12-SP2\",\"version\":\"latest\"\r\n  \
        \      },{\r\n          \"publisher\":\"SUSE\",\"offer\":\"SLES\",\"sku\"\
        :\"12-SP1\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"SUSE\",\"offer\":\"SLES-HPC\",\"sku\":\"12-SP1\",\"v[...]
- request:
    body: '{"vmSize": "STANDARD_D1_V2", "virtualMachineConfiguration": {"nodeAgentSKUId":
      "batch.node.ubuntu 14.04", "imageReference": {"offer": "UbuntuServer", "publisher":
      "Canonical", "sku": "14.04.5-LTS"}}, "targetDedicated": 1, "id": "ncj-ubuntu1404"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:12 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"PoolExists\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\"\
        :\"The specified pool already exists.\\nRequestId:41fc258a-c677-4982-84a5-55c1b6f6e5b0\\\
        nTime:2017-03-15T06:32:12.2184588Z\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: The specified pool already exists.}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:12 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D46B38B4E702FF\",\"lastModified\":\"2017-03-15T00:17:46.3461631Z\"\
        ,\"creationTime\":\"2017-03-15T00:17:46.3461631Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-03-15T00:17:46.3461631Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-03-15T00:18:53.9949649Z\"\
        ,\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\"\
        :1,\"targetDedicated\":1,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n    \"imageReference\"\
        :{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\"\
        :\"14.04.5-LTS\",\"version\":\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu\
        \ 14.04\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D46B38B4E702FF']
      Last-Modified: ['Wed, 15 Mar 2017 00:17:46 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:12 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-2434664350_1-20170315t001854z\"\
        ,\"url\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2434664350_1-20170315t001854z\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2017-03-15T06:30:08.429022Z\",\"lastBootTime\":\"2017-03-15T00:21:59.302547Z\"\
        ,\"allocationTime\":\"2017-03-15T00:18:54.7395699Z\",\"ipAddress\":\"10.0.0.4\"\
        ,\"affinityId\":\"TVM:tvm-2434664350_1-20170315t001854z\",\"vmSize\":\"standard_d1_v2\"\
        ,\"totalTasksRun\":3,\"totalTasksSucceeded\":3,\"runningTasksCount\":0,\"\
        recentTasks\":[\r\n        {\r\n          \"taskUrl\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/mytask\"\
        ,\"jobId\":\"ncj-ubuntu1404\",\"taskId\":\"mytask\",\"taskState\":\"completed\"\
        ,\"executionInfo\":{\r\n            \"startTime\":\"2017-03-15T06:30:01.73694Z\"\
        ,\"endTime\":\"2017-03-15T06:30:08.276196Z\",\"exitCode\":0,\"retryCount\"\
        :0,\"requeueCount\":0\r\n          }\r\n        }\r\n      ]\r\n    }\r\n\
        \  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"jobPreparationTask": {"commandLine": "/bin/bash -c ''setup_uploader.py
      > setuplog.txt 2>&1''", "waitForSuccess": true, "userIdentity": {"autoUser":
      {"elevationLevel": "admin"}}, "resourceFiles": [{"filePath": "setup_uploader.py",
      "blobSource": "https://raw.githubusercontent.com/Azure/azure-batch-cli-extensions/master/src/command_modules/azure-cli-batch-extensions/azure/cli/command_modules/batch_extensions/fileegress/setup_uploader.py"},
      {"filePath": "uploader.py", "blobSource": "https://raw.githubusercontent.com/Azure/azure-batch-cli-extensions/master/src/command_modules/azure-cli-batch-extensions/azure/cli/command_modules/batch_extensions/fileegress/uploader.py"},
      {"filePath": "configuration.py", "blobSource": "https://r[...]
- request:
    body: '{"value": [{"commandLine": "/bin/bash -c ''/bin/bash -c \"echo test\";err=$?;$AZ_BATCH_JOB_PREP_WORKING_DIR/uploadfiles.py
      $err;exit $err''", "constraints": {"retentionTime": "PT1H"}, "environmentSettings":
      [{"name": "AZ_BATCH_FILE_UPLOAD_CONFIG", "value": "{\"outputFiles\": [{\"uploadDetails\":
      {\"taskStatus\": \"TaskSuccess\"}, \"destination\": {\"container\": {\"containerSas\":
      \"https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?se=2017-03-16T06%3A32%3A10Z&sv=2015-07-08&sig=Uo968qGxoRhLFqN6VK/MyOehgf8a2PBGGi5D2OJLLXY%3D&sp=rw&st=2017-03-15T06%3A32%3A10Z&sr=c\"}},
      \"filePattern\": \"$AZ_BATCH_TASK_DIR/*.txt\"}]}"}], "id": "myTask"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:14 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/addtaskcollection?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"myTask\"\
        ,\"eTag\":\"0x8D46B6D055824AC\",\"lastModified\":\"2017-03-15T06:32:15.1352492Z\"\
        ,\"location\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:15 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-ubuntu1404\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404\"\
        ,\"eTag\":\"0x8D46B6D050506FF\",\"lastModified\":\"2017-03-15T06:32:14.5905407Z\"\
        ,\"creationTime\":\"2017-03-15T06:32:14.506357Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-03-15T06:32:14.5905407Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"jobPreparationTask\":{\r\n    \"id\":\"\
        jobpreparation\",\"commandLine\":\"/bin/bash -c 'setup_uploader.py > setuplog.txt\
        \ 2>&1'\",\"resourceFiles\":[\r\n      {\r\n        \"blobSource\":\"https://raw.githubusercontent.com/Azure/azure-batch-cli-extensions/master/src/command_modules/azure-cli-batch-extensions/azure/cli/command_modules/batch_extensions/fileegress/setup_uploader.py\"\
        ,\"filePath\":\"setup_uploader.py\"\r\n      },{\r\n        \"blobSource\"\
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:15 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:18 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D46B6D055824AC\",\"creationTime\":\"2017-03-15T06:32:15.1352492Z\"\
        ,\"lastModified\":\"2017-03-15T06:32:15.1352492Z\",\"state\":\"preparing\"\
        ,\"stateTransitionTime\":\"2017-03-15T06:32:16.00778Z\",\"previousState\"\
        :\"active\",\"previousStateTransitionTime\":\"2017-03-15T06:32:15.1352492Z\"\
        ,\"commandLine\":\"/bin/bash -c '/bin/bash -c \\\"echo test\\\";err=$?;$AZ_BATCH_JOB_PREP_WORKING_DIR/uploadfiles.py\
        \ $err;exit $err'\",\"environmentSettings\":[\r\n        {\r\n          \"\
        name\":\"AZ_BATCH_FILE_UPLOAD_CONFIG\",\"value\":\"{\\\"outputFiles\\\": [{\\\
        \"uploadDetails\\\": {\\\"taskStatus\\\": \\\"TaskSuccess\\\"}, \\\"destination\\\
        \": {\\\"container\\\": {\\\"containerSas\\\": \\\"https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?se=2017-03-16T06%3A32%3A10Z&sv=2015-07-08&sig=Uo968qGxoRhLFqN6VK/MyOehgf8a2PBGGi5D2OJLLXY%3D&sp=rw&st=2017-03-15T06%3A32%3A10Z&sr=c\\\
        \"}}, \\\"filePattern\\\": \\\"$AZ_BATCH_TASK_DIR/*.txt\\\"}]}\"\r\n     \
        \   }\r\n      ],\"userIdentity\":{\r\n        \"autoUser\":{\r\n        \
        \  \"scope\":\"task\",\"elevationLevel\":\"nonadmin\"\r\n        }\r\n   \
        \   },\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\":0\r\n      },\"executionInfo\"\
        :{\r\n        \"startTime\":\"2017-03-15T06:32:16.007897Z\",\"retryCount\"\
        :0,\"requeueCount\":0\r\n      },\"nodeInfo\":{\r\n        \"affinityId\"\
        :\"TVM:tvm-2434664350_1-20170315t001854z\",\"nodeUrl\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2434664350_1-20170315t001854z\"\
        ,\"poolId\":\"ncj-ubuntu1404\",\"nodeId\":\"tvm-2434664350_1-20170315t001854z\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:25 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask\"\
        ,\"eTag\":\"0x8D46B6D055824AC\",\"creationTime\":\"2017-03-15T06:32:15.1352492Z\"\
        ,\"lastModified\":\"2017-03-15T06:32:15.1352492Z\",\"state\":\"completed\"\
        ,\"stateTransitionTime\":\"2017-03-15T06:32:22.7691Z\",\"previousState\":\"\
        running\",\"previousStateTransitionTime\":\"2017-03-15T06:32:22.227059Z\"\
        ,\"commandLine\":\"/bin/bash -c '/bin/bash -c \\\"echo test\\\";err=$?;$AZ_BATCH_JOB_PREP_WORKING_DIR/uploadfiles.py\
        \ $err;exit $err'\",\"environmentSettings\":[\r\n        {\r\n          \"\
        name\":\"AZ_BATCH_FILE_UPLOAD_CONFIG\",\"value\":\"{\\\"outputFiles\\\": [{\\\
        \"uploadDetails\\\": {\\\"taskStatus\\\": \\\"TaskSuccess\\\"}, \\\"destination\\\
        \": {\\\"container\\\": {\\\"containerSas\\\": \\\"https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?se=2017-03-16T06%3A32%3A10Z&sv=2015-07-08&sig=Uo968qGxoRhLFqN6VK/MyOehgf8a2PBGGi5D2OJLLXY%3D&sp=rw&st=2017-03-15T06%3A32%3A10Z&sr=c\\\
        \"}}, \\\"filePattern\\\": \\\"$AZ_BATCH_TASK_DIR/*.txt\\\"}]}\"\r\n     \
        \   }\r\n      ],\"userIdentity\":{\r\n        \"autoUser\":{\r\n        \
        \  \"scope\":\"task\",\"elevationLevel\":\"nonadmin\"\r\n        }\r\n   \
        \   },\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"PT1H\",\"maxTaskRetryCount\":0\r\n      },\"executionInfo\"\
        :{\r\n        \"startTime\":\"2017-03-15T06:32:16.007897Z\",\"endTime\":\"\
        2017-03-15T06:32:22.7691Z\",\"exitCode\":0,\"retryCount\":0,\"requeueCount\"\
        :0\r\n      },\"nodeInfo\":{\r\n        \"affinityId\":\"TVM:tvm-2434664350_1-20170315t001854z\"\
        ,\"nodeUrl\":\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2434664350_1-20170315t001854z\"\
        ,\"poolId\":\"ncj-ubuntu1404\",\"nodeId\":\"tvm-2434664350_1-20170315t001854z\"\
        ,\"taskRootDirectory\":\"workitems/ncj-ubuntu1404/job-1/myTask\",\"taskRootDirectoryUrl\"\
        :\"https://test1.westus.batch.azure.com/pools/ncj-ubuntu1404/nodes/tvm-2434664350_1-20170315t001854z/files/workitems/ncj-ubuntu1404/job-1/myTask\"\
        \r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:25 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-ubuntu1404/tasks/myTask?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-ubun[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:26 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://test1.westus.batch.azure.com/pools/n[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:26 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/ncj-windows-2012-r2/nodes?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-2434664350_1-20170315t002425z\"\
        ,\"u[...]
[...]
- request:
    body: '{"value": [{"commandLine": "cmd /c \"cmd /c echo | set /p dummy=test &
      %AZ_BATCH_JOB_PREP_WORKING_DIR%\\uploadfiles.py %errorlevel%\"", "constraints":
      {"retentionTime": "PT1H"}, "environmentSettings": [{"name": "AZ_BATCH_FILE_UPLOAD_CONFIG",
      "value": "{\"outputFiles\": [{\"uploadDetails\": {\"taskStatus\": \"TaskSuccess\"},
      \"destination\": {\"container\": {\"containerSas\": \"https://testaccountforbatch.blob.core.windows.net/aaatestcontainer?se=2017[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:28 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:28 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azur[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:32:51 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2/tasks/myTask?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"myTask\",\"url\":\"https://test1.westus.batch.azure.com/jobs/ncj[...]
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:32:51 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://testaccountforbatch.blob.core.windows.net/\" ContainerName=\"\
        fgrp-output\"><Blobs /><NextMarker /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/batchAccounts?api-version=2017-01-01
  response:
    body: {string: '{"value":[{"name":"test1","location":"westus","properties":{"accountEndpoint":"test1.westus.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Storage/storageAccounts/testaccountforbatch","lastKeySync":"2017-03-15T00:15:05.7025693Z"},"poolAllocationMode":"batchservice"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Batch/batchAccounts/test1","type":"Microsoft.Batch/batchAccounts"},{"name":"xtestbacc","location":"centralus","properties":{"accountEndpoint":"xtestbacc.centralus.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testhpc/providers/Microsoft.Storage/storageAccounts/xtestsacc","lastKeySync":"2017-01-17T23:55:54.2445207Z"},"poolAllocationMode":"batchservice"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testhpc/providers/Microsoft.Batch/batchAccounts/xtestbacc","type":"Microsoft.Batch/batchAccounts"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-original-request-ids: ['', '']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/batchexp/providers/Microsoft.Storage/storageAccounts/testaccountforbatch/listKeys?api-version=2016-12-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"VGhpcyBpcyBrZXkgMQ=="},{"keyName":"key2","permissions":"Full","value":"VGhpcyBpcyBrZXkgMg=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:32:55 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:2154c4d5-0001-0022-3d55-9dd4d2000000\n\
        Time:2017-03-15T06:32:55.2050806Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 409, message: The specified container already exists.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:33:07 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/stderr.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:33:07 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/stdout.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 15 Mar 2017 06:33:07 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://testaccountforbatch.blob.core.windows.net/fgrp-output/uploadlog.txt
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"value": [{"commandLine": "cmd /c \"cmd /c echo | set /p dummy=test &
      %AZ_BATCH_JOB_PREP_WORKING_DIR%\\uploadfiles.py %errorlevel%\"", "constraints":
      {"retentionTime": "PT1H"}, "environmentSettings": [{"name": "AZ_BATCH_FILE_UPLOAD_CONFIG",
      "value": "{\"outputFiles\": [{\"uploadDetails\": {\"taskStatus\": \"TaskSuccess\"},
      \"destination\": {\"container\": {\"containerSas\": \"https://testaccountforbatch.blob.core.windows.net/fgrp-output?se=2017-03-2[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:33:12 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2-1?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"ncj-windows-2012-r2-1\",\"url\":\"https://test1.westus.batch.azure.com/jobs/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 15 Mar 2017 06:33:12 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/jobs/ncj-windows-2012-r2-1/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"myTask\",\"url\":\"https://test1.westus.batch.az[...]
[...]
- request:
    body: null
    headers:
[...]
